@use "functions";


.ingredients {
  border-bottom: solid 0.1em var(--color-light-grey);
  padding-bottom: 1.5em;
  &__header {
    color: var(--color-nutmeg);
    font-size: functions.toRem(28);
    font-family: var(--font-family-young-serif), sans-serif;
    margin-bottom: 0.5em;
  }

  &__list-container {
    margin-left: 0.5em;
  }


  &__list-item {
    display: flex;
    align-items: center;

    font-family: var(--font-family-outfit), sans-serif;
    color: var(--color-wenge-brown);

    line-height: 1.5;
    padding: 0.25em;

    &::before {
      content: "";
      background: var(--color-nutmeg);
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 50%;
      margin-right: 2rem;
    }
  }
}


