:root {
    --color-soft-blue: #8bacda;
    --color-cyan: #00fff7;
    --color-dark-blue-main-bg: #0d192b;
    --color-dark-blue-card-bg: #14253d;
    --color-white: #ffffff;

    --font-weight-light: 300;
    --font-weight-balanced: 400;
    --font-weight-bold: 600;

    --font-family-primary: "Outfit";
}
