html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-pink: hsl(275, 100%, 97%);
  --color-grayish-purple: hsl(292, 16%, 49%);
  --color-dark-purple: hsl(292, 42%, 14%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-primary: "Work Sans";
}

.faq__title, .faq__container {
  padding: 1.25em 0;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5625em;
  background-color: var(--color-white);
  border-radius: 1.5vw;
  width: 90%;
  align-items: flex-start;
}
@media screen and (min-width: 23.5em) {
  .faq {
    width: 50vw;
  }
}
.faq__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  justify-content: space-around;
}
.faq__container:not(:last-child) {
  border-bottom: 1px solid var(--color-light-pink);
}
.faq__container__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq__container__question__header {
  color: var(--color-dark-purple);
  font-weight: var(--font-weight-medium);
  font-size: clamp(1.1rem, 5vw, 1.2rem);
  width: 70%;
}
@media screen and (min-width: 23.5em) {
  .faq__container__question__header {
    width: 95%;
  }
}
.faq__container__question__header:hover {
  color: #AD28EB;
}
.faq__container__question__icon {
  cursor: pointer;
}
.faq__container__answer {
  max-height: 0;
  color: var(--color-grayish-purple);
  transform: scaleY(0);
  padding: 0;
  transition: ease-out 50ms;
  line-height: 1.5;
  font-size: clamp(1rem, 5vw, 1.05rem);
}
.faq__container__answer--active {
  max-height: 100%;
  padding: 1.25em 0 0 0;
  transform: scaleY(1);
  transition: ease-out 50ms;
}
.faq__title-icon {
  width: 20%;
}
.faq__title-icon__img {
  max-width: 100%;
  height: auto;
}
.faq__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.5625em;
}
.faq__title__text {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: var(--font-weight-bold);
}
.faq__question {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
@media screen and (min-width: 23.5em) {
  main {
    height: 75vh;
  }
}

body {
  height: 100vh;
  background-color: var(--color-light-pink);
  background-image: url("assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  font-family: var(--font-primary), sans-serif;
}
@media screen and (min-width: 23.5em) {
  body {
    background-image: url("assets/images/background-pattern-desktop.svg");
  }
}

/*# sourceMappingURL=styles.css.map */
